#page-container {
    width: 100%;
    height: 100vh;
    margin: auto;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

#img-container {
    position: absolute;
    top: calc(50% - 127.5px);
    left: calc(50% - 127.5px);
}

#me-img {
    border-radius: 50%;
}

#content-header {
    padding-top: 10px;
    height: 70px;
}

#content-header .title {
    font-size: 1.2em;
}

#content-body {
    width: 100%;
    height: calc(100vh - 90px);
    position: relative;
}

#speech-bubble {
    position: absolute;
    background: #0078d7;
    color: #fff;
    border-radius: .4em;
    width: 200px;
    height: 60px;
    padding: 10px;
    top: calc(50% + 75px);
    left: calc(50% - 90px);
    z-index: 1000;
    font-size: 14px;
}

#speech-bubble:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 18px solid transparent;
    border-bottom-color: #0078d7;
    border-top: 0;
    border-left: 0;
    margin-left: -9px;
    margin-top: -18px;
}

@media only screen and (min-width: 768px) {
    #page-container {
        width: 80%;
    }

    #img-container {
        top: 40%;
        left: 40%;
    }

    #content-header {
        padding-top: 95px;
        padding-left: 245px;
        height: 150px;
    }

    #content-header .title {
        font-size: 1.5em;
    }

    #content-body {
        width: 100%;
        height: calc(100vh - 260px);
    }

    #speech-bubble {
        top: 181px;
        left: 36px;
    }
}

.animate-move {
    animation: moveimg 1s 0.5s linear forwards;
}

.animate-move2 {
    animation: moveimg2 1s 0.5s linear forwards;
}

@keyframes moveimg2 {
    from {
        transform: rotate(0deg) scale(1);
        top: 40%;
        left: 40%;
    }
    to {
        transform: rotate(-360deg) scale(0.7);
        left: 0;
        top: 0;
    }
}

@keyframes moveimg {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-720deg);
    }
}

@keyframes moveimg2 {
    from {
        transform: rotate(0deg) scale(1);
        top: 40%;
        left: 40%;
    }
    to {
        transform: rotate(-360deg) scale(0.7);
        left: 0;
        top: 0;
    }
}

.showable {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.visible {
    visibility: visible;
    opacity: 1;
}